<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<header th:replace="~{base :: header}"></header>
		
		<div class="container py-5">
		
			<div class="jumbotron mb-0 bg-light p-5 d-flex justify-content-center">
	    		<h2 class="display-4">Transformar através do ensino!</h2>
			</div>
	
			<nav class="navbar navbar-expand bg-light px-5 mt-5 mb-3 d-flex justify-content-between flex-wrap">
				<div class="navbar-nav">
					<a th:classappend="${situacao} == null ? 'active'" class="nav-link mx-2" href="/principal">Todos</a>
					<a th:classappend="${situacao} == 'aprovado' ? 'active'" class="nav-link mx-2" href="/principal/aprovado">Aprovados</a>
					<a th:classappend="${situacao} == 'recuperacao' ? 'active'" class="nav-link mx-2" href="/principal/recuperacao">Recuperação</a>
					<a th:classappend="${situacao} == 'reprovado' ? 'active'" class="nav-link mx-2" href="/principal/reprovado">Reprovados</a>
				</div>
				<a href="/aluno/formulario">
					<button class="btn btn-dark">Novo</button>
				</a>
			</nav>
		
			<div class="d-flex justify-content-center flex-wrap">
				<div class="card m-3" style="width: 18rem;" th:each="aluno : ${alunos}">
					<div>
						<h5 class="card-header bg-info text-white">Aluno</h5>
					</div>
				
					<div class="card-body">
						<div>ID: <span th:text="${aluno.id}"></span></div>
						<div>Nome: <span th:text="${aluno.nome}"></span></div>
						<div>Sobrenome: <span th:text="${aluno.sobrenome}"></span></div>
						<div>Série: <span th:text="${aluno.serie}"></span></div>
						<div>Matrícula: <span th:text="${aluno.matricula}"></span></div>
						<div>Primeira Nota: <span th:text="${aluno.primeiraNota}"></span></div>
						<div>Segunda Nota: <span th:text="${aluno.segundaNota}"></span></div>
						<div>Média: <span th:text="${#numbers.formatDecimal(aluno.media,1,1,'COMMA')}"></span></div>
						
						<th:block th:switch="${aluno.situacao.name()}">
							<span>Situação:</span>
							<span th:case="APROVADO" th:text="${aluno.situacao}"></span>
							<span th:case="RECUPERACAO" th:text="${aluno.situacao}"></span>
							<span th:case="REPROVADO" th:text="${aluno.situacao}"></span>
						</th:block>
						
						<div class="d-flex justify-content-around py-2">
							<div><a href="#" class="card-link">Editar</a></div>
					    	<div><a href="#" class="card-link">Excluir</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer th:replace="~{base :: footer}"></footer>
	</body>
</html>