<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<header th:replace="~{base :: header}"></header>
		
		<div class="container py-5">
		
			<div class="jumbotron mb-0 bg-light p-5 d-flex justify-content-center">
	    		<h2 class="display-4">Transformar através do ensino!</h2>
			</div>
	
			<nav class="navbar navbar-expand bg-light px-5 mt-5 mb-3 d-flex justify-content-between flex-wrap">
				<div class="navbar-nav">
					<a class="nav-link active mx-2" href="">Todos</a>
					<a class="nav-link mx-2" href="">Aprovados</a>
					<a class="nav-link mx-2" href="">Recuperação</a>
					<a class="nav-link mx-2" href="">Reprovados</a>
				</div>
				<a href="/aluno/formulario">
					<button class="btn btn-dark">Novo</button>
				</a>
			</nav>
		
			<div class="d-flex justify-content-center flex-wrap">
				<div class="card m-3" style="width: 18rem;" th:each="aluno : ${alunos}">
					<div>
						<h5 class="card-header bg-info text-white">Aluno</h5>
					</div>
					<div class="card-body">
						<div>ID: <span th:text="${aluno.id}"></span></div>
						<div>Nome: <span th:text="${aluno.nome}"></span></div>
						<div>Sobrenome: <span th:text="${aluno.sobrenome}"></span></div>
						<div>Série: <span th:text="${aluno.serie}"></span></div>
						<div>Matrícula: <span th:text="${aluno.matricula}"></span></div>
						<div>Primeira Nota: <span th:text="${aluno.primeiraNota}"></span></div>
						<div>Segunda Nota: <span th:text="${aluno.segundaNota}"></span></div>
						<div>Média: <span th:text="${aluno.media}"></span></div>
						<div>Situação: <span th:text="${aluno.situacao}"></span></div>
						
						<div class="d-flex justify-content-around py-2">
							<div><a href="/aluno/edita-formulario" class="card-link">Editar</a></div>
					    	<div><a href="#" class="card-link">Excluir</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer th:replace="~{base :: footer}"></footer>
	</body>
</html>