<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Colégio Transformação</title>
	</head>
	<body>
		<div th:each="aluno : ${alunos}">
			<div>Nome: <span th:text="${aluno.nome}"></span></div>
			<div>Sobrenome: <span th:text="${aluno.sobrenome}"></span></div>
			<div>Ano: <span th:text="${aluno.ano}"></span></div>
			<div>Matrícula: <span th:text="${aluno.matricula}"></span></div>
			<div>Primeira Nota: <span th:text="${aluno.primeiraNota}"></span></div>
			<div>Segunda Nota: <span th:text="${aluno.segundaNota}"></span></div>
			<div>Situação: <span th:text="${aluno.situacao}"></span></div>
		</div>
	</body>
</html>